# Unity 
[Ll]ibrary/ 
[Tt]emp/ 
[Oo]bj/ 
[Bb]uild/ 
[Bb]uilds/ 
[Ll]ogs/ 
[Uu]ser[Ss]ettings/ 
[Mm]emoryCaptures/ 
*.csproj 
*.unityproj 
*.sln 
*.suo 
*.user 
*.userprefs 
*.pidb 
*.booproj 
*.svd 
*.pdb 
*.mdb 
*.opendb 
*.VC.db 
sysinfo.txt 
*.apk 
*.aab 
*.unitypackage 
crashlytics-build.properties
.vs/
.vscode/
.utmp/
.plastic/

Safe Zone Runner_BackUpThisFolder_ButDontShipItWithYourGame/
Safe Zone Runner_BurstDebugInformation_DoNotShipIt/ 
